/*This is where I will comment my css*/


@media only screen and (max-width: 1000px) {
    h2,h1,h3{
      color:white;
    }
  }
a
{
    color:hsl(198, 42%, 6%);
    text-decoration-style: solid;
}

a:hover{
    text-decoration:none;
}

body {
    border-top:0px;
    margin-top: 0cm;
    margin-bottom: 0vh;
    margin-left: 0vw;
    margin-right: 0px;
    padding-top: 0mm;
    background-color: #e4e3e3;
}

ul{
}

ol{
    margin:auto;
    list-style:inside;
    text-align:center;
}

li
{
    padding-bottom:5px;
}

hr
{
    display:block;
    height: 0px;
    margin: 0em 0em 0em 0em;
    border-color: black;
    border-width:5px;
    border-style: dashed;    
}

h1
{
    color: hsl(198, 42%, 6%);
    display:inline;
}

header{
    position: relative;
    margin-top:0px; 
    padding-top: 2em;
    margin-bottom: 0em;
    padding-bottom: 10vh;
    background-color: #84a9ac;
    text-align: center;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    min-width: 100vh;
    max-height: 50vh;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}


footer{
    position: relative;
    padding: 1em 2em 1em 2em;
    margin :auto;
    text-align: right;
}

textarea{   
    display:block;
}

textarea:focus{
    min-height: 20vh;
}
h2{
    display:block;
    text-align:center;
}
form{
    padding-bottom:2em;
}

.flex-container1{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-content:space-around;
}

.flex-item1{
    flex-basis:auto;
}

.flex-container2{
    display:flex;
    flex-direction:column;
    justify-content:center;
    
}
.flex-item2{
    flex-basis:auto;
}

.grid-container{
    padding-left: 5em;
    display:grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: 5vh;
}

#text-label{
    text-align:center;
}

form button{
    border-radius:10%;
}

 header p > strong{
    color:red;
}

header p + ol{
    text-align:start;
}

header ~ footer{
    background-color:rgb(132,169,172);
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}

h1,h2,h3,p,li{
    font-family: 'Roboto Mono', monospace;
}

h2.journal-header{
    text-decoration:underline;
}

[title~=clear]{
    text-decoration:line-through;
}